html
  head
    title My Website
    link(rel="stylesheet",type="text/css",href="./css/bootstrap.min.css")
  body
    header
      h1 Welcome to my website
    main
      block content

    script(src="./js/bootstrap.bundle.min.js")  
    footer
      p Copyright © 2023 My Website
