html
  head
    title= title
    link(rel="stylesheet",type="text/css",href="./css/bootstrap.min.css")
    link(rel="stylesheet",type="text/css",href="./css/style.css")
    link(rel='stylesheet', href='./css/bootstrap-icons.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js")
  body
    header.d-flex.flex-wrap.justify-content-center.py-3.border-bottom.simpli-nav
      a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.text-dark.text-decoration-none(href="/")
        img.bi.me-2.logo(src="./images/logo.svg", alt="Logo, link to home page")

      if typeof user === 'undefined'
        nav
          ul.nav.nav-pills
            li.nav-item
              a.nav-link(href="/login") Login        
            li.nav-item
              a.nav-link(href="/register") Register
      else 
        .dropdown
          button.btn.logged-menu.dropdown-toggle(type="button", id="dropdownMenuButton1", data-bs-toggle="dropdown", aria-expanded="false")= 'Welcome ' + user.firstName
            img.img-fluid.mnu-profile-pic(src=user.image)
          ul.dropdown-menu.profile-drpmnu(aria-labelledby="dropdownMenuButton1")
            li
              a.dropdown-item(href="/profile") Profile 
            li
              a.dropdown-item(href="/logout") Logout   
    
    main
      block content
    
    script(src="./js/bootstrap.bundle.min.js")  
    script(src="./js/app.js")
    
    footer.text-center.text-lg-start.footer
      div.text-center.p-3(style="background-color: rgba(0, 0, 0, 0.2);") &copy; 2023 Copyright:
        a.text-dark(href="https://abhilashwebdeveloper.com/") By Abhilash N

